<!DOCTYPE html>
<html lang="en">
<head>
	<title>HauntPay - Payment Solutions For Your Haunt</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/light.css" type="text/css" /> 
	<link rel="stylesheet" href="css/colorbox.css" type="text/css" /> 
	<link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css" /> 
	<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:400,300,200' rel='stylesheet' type='text/css'>
	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/jquery.bxSlider.min.js" type="text/javascript"></script>
	<script src="js/jquery.easing.1.3.js" type="text/javascript"></script>
	<script src="js/jquery.stickysidebar.min.js" type="text/javascript"></script>
  <script src="js/cufon-yui.js" type="text/javascript"></script>
	<script src="fonts/Terminal_Dosis_300.font.js" type="text/javascript"></script>
	<script src="js/jquery.colorbox-min.js" type="text/javascript"></script>
	<script src="js/custom.js" type="text/javascript"></script>
	<script src="fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
</head>

<body>

<!-- ### SOCIAL SIDEBAR ### -->
<div id="side">
	<div id="sidebar">
		<ul>
			<li class="first facebook"><a href=http://facebook.hauntpay.com" target="blank" title="Facebook"> </a></li>
			<li class="twitter"><a href="http://twitter.hauntpay.com" target="blank" title="Follow us on Twitter"> </a></li>
			<li class="googleplus"><a href="http://google.hauntpay.com" title="Google+"> </a></li>
		</ul>
	</div>
</div>
<!-- ### End of SOCIAL SIDEBAR ### -->	

<!-- ### HEADER ### -->
<header>
	<div id="header">
		<div class="container">
			<div class="row">
			<!-- ___ LOGO ___ -->
			<div class="span4">
				<div class="logo">
					<a href="#"></a>
				</div>						
			</div>
			<!-- ___ End of LOGO ___ -->
			
			<!-- ___ PHONE ___ -->
			<div class="span8">
				<div class="phone">
					<span class="icon">1 877 339 FEAR</span>
				</div>
			</div>
			<!-- ___ End of PHONE ___ -->
			</div>
		</div>
	</div>
</header>
<!-- ### End of HEADER ### -->

<!-- ### SLIDE ### -->
	<!-- ___ CONTROL ___ -->
	<div id="slider-control">
		<div class="align">
			<div class="bx-next"><a href="" id="go-next"></a></div>
			<div class="bx-prev"><a href="" id="go-prev"></a></div>
		</div>
	</div>
	<!-- ___ End of CONTROL ___ -->
<div id="slider">
	<!-- ___ SLIDE 1 ___ -->
	<div class="slide slide-1">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="content">
						<h1>Scary Simple Payment Solutions for Your Haunted Attraction</h1>
					</div>
				</div>
				<div class="span12">
					<div class="image">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ___ End of SLIDE 1 ___ -->
	
	<!-- ___ SLIDE 2 ___ -->
	<div class="slide slide-2">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="content">
						<h1>On average, ticket & merchandise sales are 30% higher at haunts accepting credit cards.</h1>
						<p class="description">We have a zombie-proof payment solution to keep you focused on the fun stuff: scaring the heck out of your patrons. Get Started Now.</p>
						<p class="p-button"><a class="contact_form btn btn-danger" href="#wufoo_form">Learn More<i class="icon-arrow-right icon-white"></i></a></p>
					</div>
				</div>
				<div class="span6">
					<div class="image">
						<img src="images/slide2.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ___ End of SLIDE 2 ___ -->
	
	<!-- ___ SLIDE 3 ___ -->
	<div class="slide slide-3">
		<div class="container">
			<div class="row">
				<div class="span7">
					<div class="content">
						<h1>Web and Mobile Ticketing So Simple a Zombie Could Use It</h1>
            <p class="description">Sell your tickets on your website and through our free haunt index listing. With our solution, tickets
            can be purchased and redeemed online or via our mobile app at absolutely no cost to your haunt!</p>
						<p>
						<a class="btn" href="http://tix.hauntpay.com/">Get Started for FREE<i class="icon-chevron-right"></i></a>
						</p>
					</div>
				</div>
				<div class="span5">
					<div class="image">
						<img src="images/slide3.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ___ End of SLIDE 3 ___ -->
</div>
<!-- ### End of SLIDE ### -->

<!-- ### CONTENT ### -->
<div id="content">
	<div class="container">
		<!-- ___ WELCOME ___ -->
		<div class="row">
			<div class="span12">
				<div class="section-title">
          <h1>We offer haunt specific payment and ticketing solutions to help you increase sales and capture new customers.</h1>
          <!--<p>HauntPay - Scary Simple Payment Solutions</p>--!>
				</div>
			</div>
		</div>
		<!-- ___ End of WELCOME ___ -->
		<div class="row">
			<div class="span12">
				<div class="divider"></div>
			</div>
		</div>
		<!-- ___ FEATURES ___ -->
		<section id="Features">
		<div class="row">
			<!-- FEATURE 1 -->
			<div class="span4">
				<div class="box-feature-last">
					<p class="icon defaultColor">
						<span class="feature-icon shield"></span>
					</p>
					<h1>Credit Card Processing</h1>
					<p>Accept credit cards to increase sales. On average, ticket and merchandise sales are 30% higher at haunts accepting credit cards.</p>
				</div>
			</div>
			<!-- End of FEATURE 1 -->
			<!-- FEATURE 2 -->
			<div class="span4">
				<div class="box-feature-middle">
					<p class="icon defaultColor">
						<span class="feature-icon connected"></span>
					</p>
					<h1>Ticketing</h1>
					<p>Sell your tickets online with options for paper or mobile redemption. Our easy to use solution offers detailed analytics and discount support.</p>
				</div>
			</div>
			<!-- End of FEATURE 2 -->
			<!-- FEATURE 3 -->
			<div class="span4">
				<div class="box-feature-first">
					<p class="icon defaultColor">
						<span class="feature-icon dollar"></span>
					</p>
					<h1>ATMs</h1>
					<p>Offer your customers access to their cash through our haunted house branded ATMs.</p>
				</div>
			</div>
			<!-- End of FEATURE 3 -->
		</div>
		</section>
		<!-- ___ End of FEATURES ___ -->
		<div class="row">
			<div class="span12">
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="divider"></div>
			</div>
		</div>
		<!-- ___ CALL TO ACTION ___ -->
		<div class="call-to-action">
			<div class="promo">
        <p>Whether at a ticketing booth, a mobile solution for the queue line, online, or at a retail shop we have a seasonal, flat-rate
        solution so simple a zombie could use it.</p>
			</div>
			<div class="event">
        <a id="contact_form" href="#wufoo_form" class="btn btn-large btn-success contact_form">
				 Contact Us
				</a>
			</div>
		</div>	
		<!-- ___ End of CALL TO ACTION ___ -->
	</div>
</div>


<!-- ### Start of WUFOO IFRAME FORM ### -->
<div id="wufoo_form" style="display:none; background:black;">
  <img src="/images/logo1.png"></img>
  <iframe height="800" width="400" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://coremerchant.wufoo.com/embed/w7x2x3/"><a href="https://coremerchant.wufoo.com/forms/w7x2x3/">Fill out my Wufoo form!</a></iframe>
</div>
<!-- ### End of WUFOO IFRAME FORM ### -->


<!-- ### End of CONTENT ### -->

<!-- ### FOOTER ### -->
<footer>
<div id="footer">
	<div class="container">
		<div class="row">
		<!-- ___ LEGAL ___ -->
		<div class="span12">
				<div class="legal">
          <img src="/images/logo1.png"></img>
          <br>
					<span class="defaultColor symbol">©2013</span> HauntPay - All Rights Reserved
				</div>
		</div>
		<!-- ___ End of LEGAL ___ -->
		</div>
	</div>
</div>
</footer>
<!-- ### End of FOOTER ### -->

<!-- ### ABOUT US ### -->
<div style="display: none">
<div id="about-us">
		<div class="section-title">
			<h1>About Us</h1>
			<p>Sed non natoque in platea? Magna lundium hac scelerisque</p>
		</div>
		<div class="content">
		<p>Lectus platea cras penatibus? Et amet magna platea scelerisque, aliquet. Ac sed. Ut ac dolor nec velit dolor. Dictumst augue ridiculus turpis est ultrices ut massa parturient lectus tempor enim adipiscing ut non, sit, sit adipiscing placerat proin cum sed, placerat integer habitasse lacus, quis cum proin, nunc. Porta porta in tincidunt quis vel, vel auctor in elementum dis elementum.</p>

<p>Parturient sit, porta, phasellus etiam in elit platea aenean! Sed porta urna urna egestas dapibus et, vut auctor ut lacus, magna tortor facilisis, sit pulvinar sociis sed massa est sit, in tortor ultrices porta vel! Cursus ut pulvinar porta nunc nec et sit, porttitor! Aliquam scelerisque. Turpis. Augue pulvinar sit purus. Elementum nunc est tristique etiam urna? Urna amet.</p>

<p>Dolor integer habitasse auctor vel, dolor in dignissim rhoncus mattis facilisis! Turpis et, mid, in. Etiam vel rhoncus pellentesque, vel tincidunt a auctor. Eros habitasse, magna tincidunt aenean ultrices etiam rhoncus, mattis cum sed dis sed, turpis sociis porta nisi mus! Ultrices dignissim montes rhoncus purus adipiscing, mus porttitor mattis rhoncus dapibus integer, habitasse amet, eros enim in? Vel.</p>
		</div>
</div>
</div>
<!-- ### End of ABOUT US ### -->

<!-- ### KEEP UP-TO-DATE ### -->
<div style="display: none">
<div id="updates">
		<div class="section-title">
			<h1>Released Notes</h1>
			<p>Sed non natoque in platea? Magna lundium hac scelerisque</p>
		</div>
		<div class="content">
			<h2>Impact 1.7.2</h2>
			<h3>Released on 13/1/12</h3>
			<ul>
				<li>Mid vel ultrices pid a in</li>
				<li>Sociis cras penatibus nisi mus ultrices</li>
				<li>Enim, augue, etiam cursus</li>
				<li>Dis cursus nascetur placerat</li>
			</ul>
	
			<div class="divider"></div>
	
			<h2>Impact 1.7.1</h2>
			<h3>Released on 11/1/11</h3>
			<ul>
				<li>Augue natoque, ut lacus porttitor purus</li>
				<li>Phasellus mauris</li>
				<li>Eu sed velit non</li>
			</ul>
			
			<div class="divider"></div>
	
			<h2>Impact 1.7.0</h2>
			<h3>Released on 4/8/11</h3>
			<ul>
				<li>Augue natoque, ut lacus porttitor purus</li>
				<li>Phasellus mauris</li>
			</ul>

		</div>
</div>
</div>
<!-- ### End of KEEP UP-TO-DATE ### -->

<!-- ### GET IN TOUCH ### -->
<div style="display: none">
<div id="get-in-touch">
		<div class="section-title">
			<h1>Get In Touch</h1>
			<p>Sed non natoque in platea? Magna lundium hac scelerisque</p>
		</div>
		<div class="form">
			<form name="get-in-touch" method="post" action="#">
			<div class="field">
				<p>Your Name</p>
				<input name="name" type="text" />
			</div>
			<div class="field">
				<p>E-Mail Address</p>
				<input name="mail" type="text" />
			</div>
			<div  class="message">
				<p>Message</p>
				<textarea name="message"></textarea>
			</div>
			<div class="action">
				<a class="btn btn-success" href="#">Send</a>
				<a class="btn" href="#" onclick="parent.$.colorbox.close(); return false;">Cancel</a>
			</div>
			</form>
		</div>
		<div  class="contact-info">
			<p class="phone">1 800 3241 9128</p>
			<p class="mail"><a href="mailto:mail@impact.com">contact@impact.com</a></p>
			<div class="divider"></div>
			<address class="address">2921 Imaginary Street, Suite 123<br />Columbia, SC 2818</address>
		</div>
</div>
</div>
<!-- ### End of GET IN TOUCH ### -->

</body>
</html>
