<!DOCTYPE html>
<html lang="en">
<head>
	<title>Impact Landing Page - FYPixels</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" /> 
	<link rel="stylesheet" href="css/colorbox.css" type="text/css" /> 
	<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:400,300,200' rel='stylesheet' type='text/css'>
	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/jquery.bxSlider.min.js" type="text/javascript"></script>
	<script src="js/jquery.easing.1.3.js" type="text/javascript"></script>
	<script src="js/jquery.stickysidebar.min.js" type="text/javascript"></script>
	<script src="js/cufon-yui.js" type="text/javascript"></script>
	<script src="fonts/Terminal_Dosis_300.font.js" type="text/javascript"></script>
	<script src="js/jquery.colorbox-min.js" type="text/javascript"></script>
	<script src="js/custom.js" type="text/javascript"></script>
</head>

<body>

<!-- ### SOCIAL SIDEBAR ### -->
<div id="side">
	<div id="sidebar">
		<ul>
			<li class="first facebook"><a href="#" title="Facebook"> </a></li>
			<li class="twitter"><a href="#" title="Follow us on Twitter"> </a></li>
			<li class="googleplus"><a href="#" title="Google+"> </a></li>
			<li class="last rss"><a href="#" title="Subscribe to RSS Feed"> </a></li>
		</ul>
	</div>
</div>
<!-- ### End of SOCIAL SIDEBAR ### -->	

<!-- ### HEADER ### -->
<header>
	<div id="header">
		<div class="container">
			<div class="row">
			<!-- ___ LOGO ___ -->
			<div class="span4">
				<div class="logo">
					<a href="#"></a>
				</div>						
			</div>
			<!-- ___ End of LOGO ___ -->
			
			<!-- ___ PHONE ___ -->
			<div class="span8">
				<div class="phone">
					<span class="icon">1 800 3241 9128</span>
				</div>
			</div>
			<!-- ___ End of PHONE ___ -->
			</div>
		</div>
	</div>
</header>
<!-- ### End of HEADER ### -->

<!-- ### SLIDE ### -->
	<!-- ___ CONTROL ___ -->
	<div id="slider-control">
		<div class="align">
			<div class="bx-next"><a href="" id="go-next"></a></div>
			<div class="bx-prev"><a href="" id="go-prev"></a></div>
		</div>
	</div>
	<!-- ___ End of CONTROL ___ -->
<div id="slider">
	<!-- ___ SLIDE 1 ___ -->
	<div class="slide slide-1">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="content">
						<h1>Clean and Minimal</h1>
						<p>Sed non natoque in platea. Magna lundium hac scelerisque</p>
					</div>
				</div>
				<div class="span12">
					<div class="image">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ___ End of SLIDE 1 ___ -->
	
	<!-- ___ SLIDE 2 ___ -->
	<div class="slide slide-2">
		<div class="container">
			<div class="row">
				<div class="span7">
					<div class="content">
						<h1>Rhoncus risus, dapibus nunc turpis placerat urna pulvinar</h1>
						<p class="description">Adipiscing enim, a montes elit vel sit, nascetur turpis, pellentesque dignissim egestas</p>
						<p class="p-button"><a class="btn btn-danger" href="#">Call to action <i class="icon-arrow-right icon-white"></i></a></p>
					</div>
				</div>
				<div class="span5">
					<div class="image">
						<img src="images/slide/slide2-image.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ___ End of SLIDE 2 ___ -->
	
	<!-- ___ SLIDE 3 ___ -->
	<div class="slide slide-3">
		<div class="container">
			<div class="row">
				<div class="span7">
					<div class="content">
						<h1>Lorem amet enim scelerisque non cum augue sit</h1>
						<p class="description">Scelerisque tristique in hac <span class="selected">adipiscing proin turpis integer</span> adipiscing et nunc habitasse, sed ac? Mus, pid quis adipiscing amet in elit mauris, dis turpis? Duis est urna cursus</p>
						<p>
						<a class="btn" href="#">Read More <i class="icon-chevron-right"></i></a>
						</p>
					</div>
				</div>
				<div class="span5">
					<div class="image">
						<img src="images/slide/slide3-image.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ___ End of SLIDE 3 ___ -->
	
	<!-- ___ SLIDE 4 ___ -->
	<div class="slide slide-4">
		<div class="container">
			<div class="row">
				<div class="span5">
					<div class="image">
						<img src="images/slide/slide4-image.jpg" alt="" />
					</div>
				</div>
				<div class="span7">
					<div class="content">
						<h1>Rhoncus risus, dapibus nunc turpis placerat urna pulvinar</h1>
						<p class="description">Scelerisque tristique in hac <span class="selected">adipiscing proin turpis integer</span> adipiscing et nunc habitasse, sed ac? Mus, pid quis adipiscing amet in elit mauris, dis turpis? Duis est urna cursus</p>
						<p>
						<a class="btn" href="#">Read More <i class="icon-chevron-right"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ___ End of SLIDE 4 ___ -->
</div>
<!-- ### End of SLIDE ### -->

<!-- ### CONTENT ### -->
<div id="content">
	<div class="container">
		<!-- ___ WELCOME ___ -->
		<div class="row">
			<div class="span12">
				<div class="section-title">
					<h1>Welcome to Impact Landing Page</h1>
					<p>Sed non natoque in platea. Magna lundium hac scelerisque</p>
				</div>
			</div>
		</div>
		<!-- ___ End of WELCOME ___ -->
		<div class="row">
			<div class="span12">
				<div class="divider"></div>
			</div>
		</div>
		<!-- ___ FEATURES ___ -->
		<section id="Features">
		<div class="row">
			<!-- FEATURE 1 -->
			<div class="span4">
				<div class="box-feature-first">
					<p class="icon defaultColor">
						<span class="feature-icon lookup"></span>
					</p>
					<h1>Explore Anywhere</h1>
					<p>Montes sociis non cursus. Enim in, elementum rhoncus ultricies in sed lorem</p>
				</div>
			</div>
			<!-- End of FEATURE 1 -->
			<!-- FEATURE 2 -->
			<div class="span4">
				<div class="box-feature-middle">
					<p class="icon defaultColor">
						<span class="feature-icon cloud"></span>
					</p>
					<h1>Cloud Server</h1>
					<p>Phasellus aenean natoque! Egestas duis lorem, nisi augue montes placerat, risus</p>
				</div>
			</div>
			<!-- End of FEATURE 2 -->
			<!-- FEATURE 3 -->
			<div class="span4">
				<div class="box-feature-last">
					<p class="icon defaultColor">
						<span class="feature-icon pie-chart"></span>
					</p>
					<h1>Analytics Service</h1>
					<p>Dignissim amet montes massa augue tempor tincidunt, lacus pulvinar a, vel phasellus</p>
				</div>
			</div>
			<!-- End of FEATURE 3 -->
		</div>
		</section>
		<!-- ___ End of FEATURES ___ -->
		<div class="row">
			<div class="span12">
				<div class="divider"></div>
			</div>
		</div>
		<!-- ___ PLANS & PRICING ___ -->
		<section id="Plans">
		<div class="row">
			<div class="span12">
					<div class="section-title">
						<h1>Plans and Pricing</h1>
						<p>Compare all plans. Magna lundium hac scelerisque</p>
					</div>
					<!-- PRICING TABLE -->
					<div id="pricing-table">
						<div id="plan-1" class="plan">
							<div class="header">
								<h2>PERSONAL</h2>
								<span>FREE</span>
							</div>
							<ul>
								<li><strong>1</strong> product</li>
								<li><strong>2</strong> pages</li>
								<li><strong>Basic</strong> status</li>
								<li><strong>Basic</strong> customization</li>
								<li>Cloud Hosting</li>
								<li>Unlimited bandwith</li>
								<li>Free scripts</li>
								<li>Support</li>
							</ul>
							<a href="" class="btn btn-default">Purchase</a>
						</div>
						<div id="plan-2" class="plan">
							<div class="header">
								<h2>MULTIPLE</h2>
								<span>$15,99/mo</span>
							</div>
							<ul>
								<li><strong>4</strong> products</li>
								<li><strong>8</strong> pages</li>
								<li><strong>Basic</strong> status</li>
								<li><strong>Basic</strong> customization</li>
								<li>Cloud Hosting</li>
								<li>Unlimited bandwith</li>
								<li>Free scripts</li>
								<li>Support</li>
							</ul>
							<a href="" class="btn btn-default">Purchase</a>
						</div>
						<div id="plan-3" class="plan">
							<div class="header">
								<h2>BUSINESS</h2>
								<span>$26,75/mo</span>
							</div>
							<ul>
								<li><strong>8</strong> products</li>
								<li><strong>16</strong> pages</li>
								<li><strong>Full</strong> status</li>
								<li><strong>Full</strong> customization</li>
								<li>Cloud Hosting</li>
								<li>Unlimited bandwith</li>
								<li>Free scripts</li>
								<li>Support</li>
							</ul>
							<a href="" class="btn btn-default">Purchase</a>
						</div>
						<div id="plan-4" class="plan">
							<div class="header">
								<h2>ENTERPRISE</h2>
								<span>$47,23/mo</span>
							</div>
							<ul>
								<li><strong>20</strong> products</li>
								<li><strong>40</strong> pages</li>
								<li><strong>Full</strong> status</li>
								<li><strong>Full</strong> customization</li>
								<li>Cloud Hosting</li>
								<li>Unlimited bandwith</li>
								<li>Free scripts</li>
								<li>Support</li>
							</ul>
							<a href="" class="btn btn-default">Purchase</a>
						</div>
					</div>
					<!-- End of PRINCING TABLE -->
			</div>
			</div>
		</section>
		<!-- ___ End of PLANS & PRICING ___ -->
		<div class="row">
			<div class="span12">
				<div class="divider"></div>
			</div>
		</div>
		<!-- ___ SCREENSHOTS ___ -->
		<section id="Screenshots">
			<div class="row">
				<div class="span12">
					<div class="section-title">
						<h1>Take a Look</h1>
						<p>Screenshots from Impact Landing Page</p>
					</div>
				</div>
			</div>
			<div class="row parent">
				<!-- THUMBNAIL 1 -->
				<div class="span3">
					<div class="thumbnail"><a class="screenshots" href="images/screenshots/screenshot-01.jpg"><img src="images/screenshots/thumbnail-01.jpg" alt="" /></a></div>
				</div>
				<!-- End of THUMBNAIL 1 -->
				<!-- THUMBNAIL 2 -->
				<div class="span3">
					<div class="thumbnail"><a class="screenshots" href="images/screenshots/screenshot-02.jpg"><img src="images/screenshots/thumbnail-02.jpg" alt="" /></a></div>
				</div>
				<!-- End of THUMBNAIL 2 -->
				<!-- THUMBNAIL 3 -->
				<div class="span3">
					<div class="thumbnail"><a class="screenshots" href="images/screenshots/screenshot-03.jpg"><img src="images/screenshots/thumbnail-03.jpg" alt="" /></a></div>
				</div>
				<!-- End of THUMBNAIL 3 -->
				<!-- THUMBNAIL 4 -->
				<div class="span3">
					<div class="thumbnail"><a class="screenshots" href="images/screenshots/screenshot-04.jpg"><img src="images/screenshots/thumbnail-04.jpg" alt="" /></a></div>
				</div>
				<!-- End of THUMBNAIL 4 -->
			</div>
		</section>
		<!-- ___ End of SCREENSHOTS ___ -->
		<div class="row">
			<div class="span12">
				<div class="divider"></div>
			</div>
		</div>
		<!-- ___ CALL TO ACTION ___ -->
		<div class="call-to-action">
			<div class="promo">
				<h1>Pulvinar urna lorem, odio dolor nisi pulvinar magnis</h1>
				<p>Elementum vel tincidunt ac hac, amet</p>
			</div>
			<div class="event">
				<a href="#" class="btn btn-large btn-success">
				Start Now
				</a>
			</div>
		</div>	
		<!-- ___ End of CALL TO ACTION ___ -->
	</div>
</div>
<!-- ### End of CONTENT ### -->

<!-- ### FOOTER ### -->
<footer>
<div id="footer">
	<div class="container">
		<div class="row margin">
		<!-- ___ NAV ___ -->
			<div class="span3">
					<div class="nav">
						<a href="#about-us" id="nav-01">
						<div class="icon about">
						<span>About Us</span>
						</div>
						</a>
					</div>
			</div>
			<div class="span3">
					<div class="nav">
						<a href="#updates" id="nav-02">
						<div class="icon uptodate">
						<span>Keep up-to-date</span>
						</div>
						</a>
					</div>
			</div>
			<div class="span3">
					<div class="nav">
						<a href="#get-in-touch" id="nav-03">
						<div class="icon mail">
						<span>Get in Touch</span>
						</div>
						</a>
					</div>
			</div>
		<!-- ___ End of NAV ___ -->

		</div>
		<div class="row">
		<!-- ___ LEGAL ___ -->
		<div class="span12">
				<div class="legal">
					<span class="defaultColor symbol">©2012</span> Impact - All Rights Reserved
					<ul>
						<li><a href="#">Terms and Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security Policy</a></li>
						<li><a href="#">About Author</a></li>		
					</ul>
				</div>
		</div>
		<!-- ___ End of LEGAL ___ -->
		</div>
	</div>
</div>
</footer>
<!-- ### End of FOOTER ### -->

<!-- ### ABOUT US ### -->
<div style="display: none">
<div id="about-us">
		<div class="section-title">
			<h1>About Us</h1>
			<p>Sed non natoque in platea? Magna lundium hac scelerisque</p>
		</div>
		<div class="content">
		<p>Lectus platea cras penatibus? Et amet magna platea scelerisque, aliquet. Ac sed. Ut ac dolor nec velit dolor. Dictumst augue ridiculus turpis est ultrices ut massa parturient lectus tempor enim adipiscing ut non, sit, sit adipiscing placerat proin cum sed, placerat integer habitasse lacus, quis cum proin, nunc. Porta porta in tincidunt quis vel, vel auctor in elementum dis elementum.</p>

<p>Parturient sit, porta, phasellus etiam in elit platea aenean! Sed porta urna urna egestas dapibus et, vut auctor ut lacus, magna tortor facilisis, sit pulvinar sociis sed massa est sit, in tortor ultrices porta vel! Cursus ut pulvinar porta nunc nec et sit, porttitor! Aliquam scelerisque. Turpis. Augue pulvinar sit purus. Elementum nunc est tristique etiam urna? Urna amet.</p>

<p>Dolor integer habitasse auctor vel, dolor in dignissim rhoncus mattis facilisis! Turpis et, mid, in. Etiam vel rhoncus pellentesque, vel tincidunt a auctor. Eros habitasse, magna tincidunt aenean ultrices etiam rhoncus, mattis cum sed dis sed, turpis sociis porta nisi mus! Ultrices dignissim montes rhoncus purus adipiscing, mus porttitor mattis rhoncus dapibus integer, habitasse amet, eros enim in? Vel.</p>
		</div>
</div>
</div>
<!-- ### End of ABOUT US ### -->

<!-- ### KEEP UP-TO-DATE ### -->
<div style="display: none">
<div id="updates">
		<div class="section-title">
			<h1>Released Notes</h1>
			<p>Sed non natoque in platea? Magna lundium hac scelerisque</p>
		</div>
		<div class="content">
			<h2>Impact 1.7.2</h2>
			<h3>Released on 13/1/12</h3>
			<ul>
				<li>Mid vel ultrices pid a in</li>
				<li>Sociis cras penatibus nisi mus ultrices</li>
				<li>Enim, augue, etiam cursus</li>
				<li>Dis cursus nascetur placerat</li>
			</ul>
	
			<div class="divider"></div>
	
			<h2>Impact 1.7.1</h2>
			<h3>Released on 11/1/11</h3>
			<ul>
				<li>Augue natoque, ut lacus porttitor purus</li>
				<li>Phasellus mauris</li>
				<li>Eu sed velit non</li>
			</ul>
			
			<div class="divider"></div>
	
			<h2>Impact 1.7.0</h2>
			<h3>Released on 4/8/11</h3>
			<ul>
				<li>Augue natoque, ut lacus porttitor purus</li>
				<li>Phasellus mauris</li>
			</ul>

		</div>
</div>
</div>
<!-- ### End of KEEP UP-TO-DATE ### -->

<!-- ### GET IN TOUCH ### -->
<div style="display: none">
<div id="get-in-touch">
		<div class="section-title">
			<h1>Get In Touch</h1>
			<p>Sed non natoque in platea? Magna lundium hac scelerisque</p>
		</div>
		<div class="form">
			<form name="get-in-touch" method="post" action="#">
			<div class="field">
				<p>Your Name</p>
				<input name="name" type="text" />
			</div>
			<div class="field">
				<p>E-Mail Address</p>
				<input name="mail" type="text" />
			</div>
			<div  class="message">
				<p>Message</p>
				<textarea name="message"></textarea>
			</div>
			<div class="action">
				<a class="btn btn-success" href="#">Send</a>
				<a class="btn" href="#" onclick="parent.$.colorbox.close(); return false;">Cancel</a>
			</div>
			</form>
		</div>
		<div  class="contact-info">
			<p class="phone">1 800 3241 9128</p>
			<p class="mail"><a href="mailto:mail@impact.com">contact@impact.com</a></p>
			<div class="divider"></div>
			<address class="address">2921 Imaginary Street, Suite 123<br />Columbia, SC 2818</address>
		</div>
</div>
</div>
<!-- ### End of GET IN TOUCH ### -->

</body>
</html>
