/*
============================================================
  LANDING PAGES / IMPACT
------------------------------------------------------------
  Created by: FYPixels
  http://themeforest.net/user/FYPixels
============================================================
*/


body{ background: #2F2F2F; color: #FFFFFF; }


/*
============================================================
  HEADER
============================================================
*/

#header{ color: #000000; }
#header .phone{ color: #000000; }
#header .phone .icon{ background: url(../images/phone-icon.png) no-repeat; background-position: center left;  }

/*
============================================================
  SLIDE
============================================================
*/


/* ----- SLIDE 1 ----- */
#slider .slide-1{ background: #F9F9F9; }

/*content*/
#slider .slide-1 .content h1{ color: #2A2A2A; }
#slider .slide-1 .content p{ color: #757575;}


/* ----- SLIDE 2 ----- */
#slider .slide-2{ background: #F9F9F9; color: #000000;}

/*content*/
#slider .slide-2 .content .description{ color: #757575; }
#slider .slide-2 .content h1{ color: #2A2A2A; }




/* ----- SLIDE 3 ----- */
#slider .slide-3{ background: #F9F9F9; color: #000000;}

/*content*/
#slider .slide-3 .content .description{ color: #757575; }
#slider .slide-3 .content .description .selected{ background: #E9E9E9;}
#slider .slide-3 .content h1{ color: #2A2A2A; }

/*image*/
#slider .slide-3 .image{ background: url('../images/slide/slide-ptr.jpg'); border-color: #DEDEDE; }
#slider .slide-3 img{ border-color: #FFFFFF; }




/* ----- SLIDE 4 ----- */
#slider .slide-4{ background: #F9F9F9; color: #000000; }

/*content*/
#slider .slide-4 .content .description{ color: #757575; }
#slider .slide-4 .content .description .selected{ background: #E9E9E9; }
#slider .slide-4 .content h1{ color: #2A2A2A; }

/*image*/
#slider .slide-4 .image{ background: url('../images/slide/slide-ptr.jpg'); border-color: #DEDEDE; }
#slider .slide-4 img{ border-color: #FFFFFF; }




/*
============================================================
  CONTENT
============================================================
*/

#content{background: #242424; color: #000000; }
#content .section-title h1{ color: #FFFFFF; }
#content .section-title p{ color: #757575; }
#content .section-title .spText { }

/* ----- FEATURES ----- */
#content .box-feature-first h1, #content .box-feature-middle h1, #content .box-feature-last h1{ color: #DEDEDE; }
#content .box-feature-first p, #content .box-feature-middle p, #content .box-feature-last p{ color: #757575; }
#content .box-feature-first:hover, #content .box-feature-middle:hover, #content .box-feature-last:hover{ background: #2A2A2A; border-color: #313131; }

/* ----- PRICING TABLE ----- */
#pricing-table .plan{ color: #757575; }
#pricing-table .plan ul li{ border-color: #202020; }
#pricing-table .plan .header{ background: #181818; color: #757575; }

/*plan 1, plan 2, plan 3*/
#pricing-table #plan-1, #pricing-table #plan-2, #pricing-table #plan-3{ background: #1D1D1D url(../images/pricingtable-divider.png) repeat-y; background-position: right; }

/*plan 1*/
#pricing-table #plan-1 .header h2, #pricing-table #plan-1 strong{ color: #d8be9d; }

/*plan 2*/
#pricing-table #plan-2 .header h2, #pricing-table #plan-2 strong{ color: #d99f9f; }

/*plan 3*/
#pricing-table #plan-3 .header h2, #pricing-table #plan-3 strong{ color: #a3d3a1; }

/*plan 4*/
#pricing-table #plan-4{ background: #1D1D1D; }
#pricing-table #plan-4 .header h2, #pricing-table #plan-4 strong{ color: #8dcbd4; }

/* ----- SCREENSHOTS ----- */
#content .thumbnail { background: #1D1D1D; border-color: #1C1C1C; }

/* ----- CALL TO ACTION ----- */
#content .call-to-action{ border-color: #1C1C1C; background: #1D1D1D; }

/*promo*/
#content .call-to-action .promo h1{ color: #DEDEDE; }
#content .call-to-action .promo p{ color: #757575; }


/*
============================================================
  FOOTER
============================================================
*/

/*nav*/
#footer .nav span{ color: #DEDEDE; }
#footer .nav a:link, #footer .nav a, #footer .nav a:visited, #footer .nav a:hover, #footer .nav a, #footer .nav a:active{ color: #757575; }

/*legal*/
#footer .legal .symbol { background: none !important; }
#footer .legal li{ border-color: #383838; }
#footer .legal a:link, #footer .legal a:visited, #footer .legal a:hover, #footer .legal a:active{ color: #757575; }
#footer .legal a:hover, #footer .legal a:active{ border-color: #757575; }

/*
============================================================
  ABOUT US
============================================================
*/

#about-us .section-title h1{ color: #FFFFFF; }
#about-us .section-title p{ color: #757575; }

/*
============================================================
  KEEP UP-TO-DATE
============================================================
*/

#updates .section-title h1{ color: #FFFFFF; }
#updates .section-title p{ color: #757575; }
#updates h2{ color: #DEDEDE; }
#updates h3{ color: #757575; }
#updates .section-title li{ color: #757575; }
#updates .content .divider{ background: url('../images/divider.png'); }

/*
============================================================
  GET IN TOUCH
============================================================
*/

#get-in-touch .section-title h1{ color: #FFFFFF; }
#get-in-touch .section-title p{ color: #757575; }
#get-in-touch .field, #get-in-touch .message, #get-in-touch .address{ color: #757575; }
#get-in-touch input, #get-in-touch textarea{ background: #FFFFFF; color: #000000; }
#get-in-touch .contact-info a:link, #get-in-touch .contact-info a:visited, #get-in-touch .contact-info a:hover, #get-in-touch .contact-info a:active{ color: #FFFFFF; }
#get-in-touch .divider{ background: url('../images/divider.png'); }